.onedayWrapper {
  cursor: pointer;
  box-sizing: border-box;
  width: calc(100% / 7);
  height: 137px;
  border-bottom: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  overflow: scroll;
}

.onedayWrapper:nth-child(7n + 1) {
  border-left: 1px solid #c1c1c1;
}

.onedayWrapper > div {
  font-size: 20px;
  /* padding-left: 10px; */
  font-weight: 500;
  text-align: right;
  padding-right: 16px;
  padding-top: 8px;
}
