.scdResultOneWrapper {
  display: flex;
  margin-bottom: 16px;
  padding: 16px 0;
  border-bottom: 1px solid #d0d0d0;
}

.scdResultOneWrapper > div {
  margin: 0 8px;
  color: gray;
  /* border: 1px solid red; */
  /* height: 24px; */
  line-height: 26px;
}

.scdDate {
  width: 132px;
  text-align: center;
}

.scdDay {
  width: 28px;
  text-align: center;
}

.calColorWrapper {
  width: 20px;
  height: 20px;
  line-height: 20px;
  /* border: 1px solid green; */
  /* border-radius: 100%; */
}

.calColor {
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 100%;
  margin-bottom: 12px;
}

.scdTime {
  width: 200px;
}

.scdName {
  width: 400px;
  font-size: 18px;
  cursor: pointer;
}
