.title{
    height: 60px;
    border-radius: 8px;
    background-color: #E52E2E;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
    line-height: 57px;
    border: none;
}
.wholeContent{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}
.elkArea{
    border: 1px solid black;
    border-radius: 10px;
    
}
.reportsbtnArea{
    border: 1px solid black;
    border-radius: 10px;

}