.contour {
  height: 60px;
  background-color: #e52e2e;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding-left: 40px;
  line-height: 60px;
  border-radius: 8px;
}

.categoryWrapper {
  margin-right: 60px;
}

.todoWrapper {
  /* border: 1px solid black; */
  height: 80%;
  margin: 60px 40px;
  display: flex;
}

.searchBox {
  border: 1px solid gray;
  border-radius: 4px;
  display: flex;
  height: 24px;
  margin-bottom: 40px;
  margin-top: 4px;
}

.searchBox img {
  width: 20px;
  height: 20px;
  line-height: 20px;
  margin: 2px 2px;
}

.searchBox input {
  border: none;
  height: 20px;
  margin: 1px 0;
}

.addWrapper {
  display: flex;
  align-items: center;
}

.addInputWrapper {
  display: flex;
  margin-right: 20px;
  border: 1px solid gray;
  border-radius: 4px;
  height: 36px;
  /* padding: 4px; */
}

.addInputWrapper div {
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 1px solid white;
  border-radius: 2px;
}

.defaultCate {
  border: 1px solid black;
}

.addInputWrapper span {
  padding-top: 10px;
}

.addInputWrapper span:hover {
  cursor: pointer;
}

.addInputWrapper input {
  border: none;
  height: 24px;
  width: 300px;
  margin: 6px 4px;
  border-left: 1px solid gray;
  padding-left: 8px;
}

.addInputWrapper img {
  width: 20px;
  height: 20px;
  margin: 8px 4px;
}

.addWrapper button {
  border: none;
  background-color: #e52e2e;
  color: white;
  height: 32px;
  border-radius: 4px;
}

.graphTitle {
  display: flex;
  margin-top: 32px;
  margin-left: 4px;
  line-height: 24px;
}

.graphTitle div {
  margin-right: 16px;
}

.graphTitle span:first-of-type {
  font-weight: bold;
  /* font-size: 18px; */
}

.graphTitle span:last-of-type {
  color: gray;
  margin-left: 4px;
}

.graph {
  display: flex;
  align-items: center;
}

.graph div {
  border: 1px solid black;
  border-radius: 12px;
  height: 24px;
  width: 500px;
  margin: 4px 8px 4px 0;
}

.graph span {
  font-weight: bold;
}

.todoList {
  display: flex;
  margin-top: 32px;
  width: 60vw;
}

.today {
  width: 40%;
  margin-right: 60px;
}

.intended {
  width: 40%;
}
