/* CSS */
:root {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}


/* html,
body {
    height: 100%;
    width: 100%;
    overflow: auto;
} */

.cardBody {
  height: 100vh;
  min-height: 100%;
  display: flex;
}

.loginDiv {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*수평 정렬*/
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: white;
}

.logoBox {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 20em;
  align-items: center;
  margin-right: 0.5em;
}

.logo {
  width: 3.5em;
  margin-right: 1em;
}

.title {
  color: #333;
  display: inline-block;
  justify-content: flex-start;
  font-weight: bold;
  margin-bottom: 0.5%;
  font-family: "Inter", sans-serif;
}

.description span {
  text-shadow: 0 2px 3px #b6b6b6;
  font-family: "Inter", sans-serif;
}

.emphasis {
  color: #e52e2e;
  font-weight: bold;
  text-shadow: 0 2px 3px #9a9a9a !important;
}

.registBox,
.registBox label {
  margin-top: 1%;
}

.registBox label {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  margin-left: 0.5em;
}

.registContainer {
  position: relative;
  padding: 0;
  margin: 0;
}

.inputBox {
  margin: 1% 0 1% 0;
  border-color: #e52e2e;
  height: 3em;
  width: 24em;
  border-radius: 0.8em;
  text-indent: 10%;
}

.inputBox::placeholder {
  font-style: italic;
}

.registContainer svg {
  position: absolute;
  margin-top: 4.5%;
  left: 4%;
  width: 5%;
  height: 40%;
}

.registBtn {
  background-color: #e52e2e;
  margin: 1% 0 3% 0;
  color: white;
  border: none;
  height: 3.5em;
  width: 24.5em;
  border-radius: 0.8em;
  font-weight: bold;
  margin-top: 1em;
}

.registBtn:hover {
  background-color: white;
  border: 1px solid #e52e2e;
  color: #e52e2e;
  text-shadow: 0px 2px 3px #bfc3c6;
  cursor: pointer;
}

.login {
  color: #e52e2e;
  font-weight: bold;
  text-decoration-line: underline;
}

.login:hover {
  cursor: pointer;
}