/* 전체 백그라운드 => 이미지 넣는 공간 */
.backgroundDiv {
  height: 100vh;
  display: flex;
  flex-direction: column; /*수평 정렬*/
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
}

/* 회원가입 모달창 느낌나는 영역 */
.registerDiv {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /*수평 정렬*/
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: white;
  }

.registerDiv div {
  display: flex;
  margin: 16px;
}

.registerDiv input {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 30px;
  width: 200px;
  border-color: #e52e2e;
  border-radius: 4px;
  text-indent: 10px;
}

.registerDiv button {
  margin-top: 8px;
  margin-left: 16px;
  height: 30px;
  width: 100px;
  border-radius: 4px;
  background-color: white;
  font-weight: bold;
}

.logoBox {
    display: flex;
    flex-direction: row;
    justify-content: start;
    width: 20em;
    align-items: center;
    margin-right: 0.5em;
  }
  
  .logo {
    width: 3.5em;
    margin-right: 1em;
  }
  
  .inputBox {
    margin: 1% 0 1% 0 ;
    border-color: #e52e2e;
    height: 3em;
    width: 24em;
    border-radius: 0.8em;
    text-indent: 10%;
  }
  
  .inputBox::placeholder {
    font-style: italic;
  }
  
  .registBtn {
    background-color: #e52e2e !important;
    margin: 1% 0 3% 0 !important;
    color: white !important;
    border: none !important;
    height: 3.5em !important;
    width: 24.2em !important;
    border-radius: 0.5em !important;
    font-weight: bold !important;
    margin-top: 1em !important;
  }
  
  .registBtn:hover {
    background-color: white !important;
    border: 1px solid #e52e2e !important;
    color: #e52e2e !important;
    text-shadow: 0px 2px 3px #bfc3c6 !important;
    cursor: pointer !important;
  }
  
  .back:hover {
    cursor: pointer;
  }