.logo {
    width: 30px;
    height: 25px;
    margin-top: 7%;
    margin-right: 5%;
}

.title {
    display: flex;
    justify-content: center;
}

.title b {
    margin-top: 4.5%;
}

.title span {
    font-size: x-large;
}

.empName {
    margin-top: 12%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
}

.empName>div {
    margin-bottom: 0.5rem;
    /* 자식 요소들 간 간격 조절을 위해 추가 */
}