.clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.title {
    margin-top: 15%;
    font-size: 16px;
    font-weight: 500;
    color: #757575;
    margin-bottom: 16px;
}

.time {
    font-size: 36px;
    font-weight: 300;
    color: #e52e2e;
    line-height: 1;
}

.meridiem {
    font-size: 20px;
    font-weight: 500;
    color: #757575;
    margin-top: 16px;
}

.separator {
    font-size: 36px;
    font-weight: 300;
    color: #757575;
    margin: 0px 8px;
}