.todoWrapper {
  border: 1px solid black;
  border-radius: 4px;
  height: 60px;
  display: flex;
  margin-bottom: 16px;
}

.colorBar {
  width: 6px;
  height: 60px;
  border-radius: 2px;
}

.contentWrapper {
  width: 100%;
}

.todo {
  display: flex;
  /* width: 330px; */
  /* border: 1px solid black; */
}

.todo input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 8px;
}

.todo input[type="checkbox"]:checked + label {
  text-decoration: line-through;
}

.todo label {
  width: 360px;
  height: 20px;
  margin: 8px 4px;
  cursor: pointer;
}

.todo img {
  width: 20px;
  height: 20px;
  margin: 8px 12px;
  margin-left: auto;
}

.date {
  margin-left: 38px;
  font-size: 14px;
}
