.contour {
  width: 100%;
  height: 8px;
  background-color: #e52e2e;
}

.content {
  width: 1500px;
  /* border: 1px solid gray; */
  /* margin: 20px 40px 10px ; */
  margin: 3% auto;
}

.content div {
  border-radius: 12px;
  text-align: center;
}

.firstGroup {
  display: flex;
  height: 320px;
  margin-bottom: 40px;
  /* justify-content: space-between; */
  /* border: 1px solid orange; */
}

.calendarWrapper {
  display: flex;
  width: 900px;
  border: 1px solid pink;
  margin-right: 100px;
  margin-left: 80px;
}

.calendar {
  width: 600px;
  border: 1px solid red;
  /* margin-right: 100px; */
}

.schedule {
  width: 400px;
  border: 1px solid red;
}

.info {
  width: 300px;
  border: 1px solid pink;
}

.secondGroup {
  display: flex;
  height: 160px;
  margin-bottom: 40px;
  /* justify-content: space-between; */
  /* border: 1px solid green; */
}

.banner {
  width: 900px;
  margin-right: 100px;
  margin-left: 80px;
  /* border: 1px solid green; */
}

.banner img {
  width: 900px;
  height: 160px;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
}

.workingHour {
  width: 300px;
  border: 1px solid green;
}

.thirdGroup {
  display: flex;
  height: 160px;
  /* justify-content: space-between; */
  /* border: 1px solid blue; */
}

/* .thirdGroup div {
  margin-right: 100px;
} */

.weather {
  width: 265px;
  margin-left: 80px;
  border: 1px solid blue;
}

.birth {
  width: 200px;
  margin: 0 80px;
  border: 1px solid blue;
}

.todo {
  width: 265px;
  margin-right: 104px;
  border: 1px solid#e0e0e0;
}

.notice {
  width: 300px;
  border: 1px solid blue;
}
