.emailDetail {
    padding: 16px;
}

.emailDetailHeader {
    margin-bottom: 16px;
}

.emailDetailSubject {
    margin: 0;
    font-size: 30px;
    font-weight: bold;
    color: #202124;
}

.emailDetailHeaderInfo {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    color: #5f6368;
    margin-top: 8px;
}

.emailDetailHeaderInfo>div:first-child {
    margin-right: 16px;
}

.emailDetailHeaderInfo span {
    margin-right: 4px;
}

.emailDetailBody {
    font-size: 16px;
    font-weight: 400;
    color: #202124;
    line-height: 1.5;
}