.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    background-color: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.info {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.25px;
    color: #202124;
    margin-right: 16px;
}


.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.buttons>button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    min-width: 30px;
    border: none;
    background-color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: #202124;
    margin-left: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.buttons>button:first-child {
    margin-left: 0;
}

.buttons>button:hover {
    background-color: #f1f3f4;
    border-color: #c6c7cc;
}

.buttons>button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}