/* SearchBox.module.css */
.searchBox {
    padding: 8px;
    background-color: #f9fafb;
    border-bottom: 1px solid #dadce0;
}

.searchBoxWrapper {
    display: flex;
    align-items: center;
    height: 36px;
    border: 1px solid #dadce0;
    border-radius: 8px;
    overflow: hidden;
}

.searchBoxWrapper input[type="text"] {
    flex: 1;
    margin-left: 8px;
    margin-right: 4px;
    font-size: 14px;
    background-color: transparent;
    border: none;
    outline: none;
}

.searchBoxWrapper button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    /* background-color: #ffffff; */
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 8px 0 0 8px;
}

.searchBoxWrapper button svg {
    width: 18px;
    height: 18px;
    fill: #001d35;
}