.titleoutLine{
    border: 1px solid black;
    width: 70%;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    margin: auto;
}
.deletebtn{
    float: right;
    margin-right: 14%;
    margin-top: -1%;
    background: white;
    border: 2px solid black;
    border-radius: 20px;
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.deletebtn:hover{
    background: red;
    color:white;
}