.headerWrapper {
  width: 1600px;
  height: 100px;
  /* line-height: 100px; */
  /* border: 1px solid #e52e2e; */
  /* padding: 40px 40px 0; */
}

.headerContent {
  display: flex;
  justify-content: space-between;
  /* padding: 8px 0; */
  /* padding-top: 40px; */
  padding: 0 40px;
  height: 100px;
  line-height: 100px;
  /* border: 1px solid green; */
  align-items: center;
}

.logo {
  width: 50px;
  height: 45px;
  /* border: 1px solid black; */
  cursor: pointer;
}

.searchWrapper {
  display: flex;
  align-items: center;
  border: 1px solid #e52e2e;
  border-radius: 4px;
  width: 300px;
}

.searchBox {
  width: 250px;
  height: 30px;
  color: gray;
  font-size: 12px;
  line-height: 30px;
  padding-left: 8px;
  border: none;
}

.searchBox:focus {
  outline: none;
}

.searchImg {
  width: 40px;
  height: 32px;
  background-color: #e52e2e;
  border-radius: 2px;
  text-align: center;
}

.searchImg img {
  border: 1px solid black;
  width: 20px;
  height: 20px;
  /* margin-top: 5px; */
}

.infoWrapper {
  display: flex;
  align-items: center;
}

.empName {
  font-size: 18px;
}
/* .infoWrapper img {
  width: 20px;
  height: 20px;
  margin: 0 12px;
} */

.infoWrapper button {
  background: white;
  border: 1px solid gray;
  border-radius: 4px;
  font-size: 14px;
  height: 32px;
  margin: 0 12px;
}

.infoWrapper button:hover {
  cursor: pointer;
  background-color: #e52e2e;
  color: white;
  border: 1px solid #e52e2e;
}

.empImgWrapper {
  width: 52px;
  height: 52px;
  margin: 0 12px;
  border-radius: 100%;
  border: 1px solid gray;
  overflow: hidden;
}

.empImgWrapper img {
  width: 52px;
  height: 52px;
  margin-top: 8px;
  object-fit: contain;
}
