.title{
    height: 60px;
    border-radius: 8px;
    background-color: #E52E2E;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 40px;
    line-height: 57px;
    border: none;
}

.displayBox{
    height:500px;
    background-color: white;
    border-radius: 10px;
}
.boardTitle{
    text-indent: 5%;
    width: 50%;
    position: relative;
    top: 100%;
    transform: translate(0, 50%);
    
}
hr{
    border-color: #E52E2E;
}
.writer{
    float: left;
    margin-right: 20px;
    
}
.date{
    float: left;
    margin-right: 50px;
}
.content{
    text-indent: 20px;
    font-size: 20px;
    width: 70%;
    
}
.boardTitle{
    font-size: 30px;
    font-weight: bold;
}

.postingbtn{
    text-align: center;
}
.postingbtn button{
    background-color: #E52E2E;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.postingbtn button:hover{
    background-color:gray;
    text-shadow: 1px 1px 1px white;
}
.replyArea{
    width: 30%;
    height: 83%;
    float: right;

}