.header {
    height: 60px;
    background-color: #e52e2e;
    padding-left: 40px;
    /* line-height: 60px; */
    border-radius: 8px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    flex: 0 1 auto;
    position: sticky;
    margin-bottom: 2%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 25em;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menu li {
    margin: 0 1em;
    height: 100%;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
    position: relative;
}

.menu a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.menu a:hover::before,
.menu li.active a::before {
    transform: scaleX(1);
}

.menu a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu li.active a {
    background-color: rgba(255, 255, 255, 0.3);
}

.menu a span {
    margin-top: 0.1em;
    font-size: medium;
    text-align: center;
}

.noticeContent {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reportCard {
    flex-grow: 0.8;
}

.atdCard {
    flex-grow: 0.19
}

.reportCard,
.atdCard {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 1.5em;
    margin-top: 1em;
    margin-bottom: 2rem;
    height: 10em;
}

.reportCard h2 {
    margin: auto;
}

.reportCard .status {
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reportCard .status .attendance,
.reportCard .status .vacation,
.reportCard .status .birthday {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(33.33% - 1rem);
}

.box {
    max-width: 100%;
    width: 10em;
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin: auto;
}

.logo {
    width: 30px;
    height: 25px;
    margin-top: 7%;
    margin-right: 5%;
}

.reportCard .status .attendance p,
.reportCard .status .vacation p,
.reportCard .status .birthday p {
    text-align: center;
    font-size: 15px;
}


.textBox {
    justify-content: center;
    text-align: center;
}


.reportCard .status .attendance span,
.reportCard .status .vacation span,
.reportCard .status .birthday span {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
}

.count {
    font-size: large !important;
}

.content {
    display: flex;
}

.card {
    width: 27.2em;
    height: 24em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    margin-right: 1%;
    border-radius: 8px;
}

.card2 {
    width: 27.2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 1%;
    border-radius: 8px;
}

.calender {
    display: flex;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    height: 24em;
}

.react-calendar {
    margin-top: 7%;
    border: none !important;
    width: 26em !important;
    /* height: 26em !important; */
}

.react-calendar {
    font-size: 15px !important;
}

.react-calendar__month-view__weekdays__weekday {
    font-size: 15px;
}

.react-calendar__tile {
    font-size: 15px;
}

.react-calendar__navigation {
    font-size: 15px;
}

.react-calendar__navigation__label,
.react-calendar__month-view__days__day--today,
.react-calendar__tile--active {
    font-size: 15px !important;
}