.header {
    height: 60px;
    background-color: #e52e2e;
    padding-left: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    position: sticky;
    margin-bottom: 2%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 25em;
}

.container {
    margin-top: 1%;
    width: 98%;
    margin: 0 auto;
    /* 가운데 정렬 */
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.basicInfo {
    margin-left: 1%;
    font-size: 30px;
    font-weight: bolder;
    width: 15%;
    margin-bottom: 1%;
}

.underLine {
    border-bottom: 4px solid black;
    /* 밑줄 굵기 */
    text-decoration: none;
    /* 기본 밑줄 제거 */
}

.photoBox {
    width: 14em;
    height: 17em;
    border: 1px solid #D9D9D9;
    border-radius: 8px;
    flex: 0 0 auto;
    margin-right: 2em;
    position: relative;
    background-size: cover;
    background-position: center center;
}

.photoBox label {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #e52e2e;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid #e52e2e;
    font-size: medium;
    width: 5em;
    height: 2em;
    transition: all 0.3s ease-in-out;
}

.photoBox label:hover {
    background-color: white;
    color: #e52e2e;
    border: 1px solid #e52e2e;
}

.fileInput {
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translate(-50%, -50%);
}

.fileButton {
    position: absolute;
    left: 50%;
    top: 115%;
    transform: translate(-50%, -50%);
    background-color: #e52e2e;
    border: 2px solid #e52e2e;
    border-radius: 8px;
    border: none;
    font-size: medium;
    color: white;
    cursor: pointer;
    width: 5em;
    height: 2em;
    transition: all 0.3s ease-in-out;
}

.fileButton:hover {
    background-color: white;
    color: #e52e2e;
    border: 1px solid #e52e2e;
}

.photoBox img {
    border-radius: 8px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photoBox label span {
    display: none;
}

.tableWrapper {
    flex: 2;
    /* 테이블과의 간격을 조정합니다. */
    overflow: scroll;
    height: 450px;
    /* 원하는 높이 값으로 변경 */
    /* border: 1px solid #D3D3D3; */
}

.tableWrapper {
    border-radius: 10px;
    overflow: hidden;
    /* wrapper 영역을 넘어가는 선을 숨깁니다. */
    border: 1px solid #D3D3D3;
}

.table {
    margin: 0;
    border-collapse : collapse;
    /* border-collapse: separate; */
    width: 100%;
    height: 100%;
    /* table 너비를 100%로 설정합니다. */
}

.table td,
.table th {
    border: none;
    border-bottom: 1px solid #D3D3D3;
    /* 테이블 내부의 선만 남기고, 외곽선을 제거합니다. */
    padding: 8px;
}

.table td {
    height: 40px;
}

.tableBody {
    text-align: center;
}

.table input {
    border: none;
    outline: none;
}

.table td {
    text-align: left;
}

.table tr:last-child td,
.table tr:last-child th {
    border-bottom: none;
    /* 마지막 행의 하단 선을 제거합니다. */
}

.table td:not(:last-child),
th:not(:last-child) {
    border-right: 1px solid #d3d3d309;
}

.table tbody tr:not(:last-child) td {
    border-bottom: 1px solid #D3D3D3;
}

.tableCell {
    background-color: #FCFCFC;
    font-weight: bolder;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.buttonWrapper button {
    margin: 0 1rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    background-color: #e52e2e;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

}

.buttonWrapper button:hover {
    background-color: #fff;
    color: #e52e2e;
    border: 1px solid #e52e2e;
}