.header {
    height: 60px;
    background-color: #e52e2e;
    padding-left: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    position: sticky;
    margin-bottom: 2%;
}

.title {
    font-size: 30px;
    font-weight: bold;
    color: white;
    width: 25em;
}

.searchWrapper {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: white;
    border-radius: 5px;
    margin-right: 10px;
    width: 120px;
    color: #777;
}

.searchBox {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: white;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 10px;
}

.searchButton {
    background-color: #e52e2e;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.searchButton:hover {
    background-color: #c42020;
}

.cardBody {
    width: 90%;
    margin: 2% auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    /* 테이블을 중앙에 정렬 */
}

.table th {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
}

.table td {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
}

.table tr:hover {
    background-color: #f2f2f2;
}

.noData {
    text-align: center;
    font-size: 16px;
    padding: 20px;
}

.pageBox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
}

.pagingBtn {
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #e52e2e;
    color: white;
}

.pagingBtn:hover {
    background-color: #c42020;
}

.pagingBtnSide {
    padding: 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #f2f2f2;
    color: #777;
}

.pagingBtnSide:hover {
    background-color: #e52e2e;
    color: white;
}