.wrapper {
  /* border: 1px solid blue; */
  display: flex;
  height: 95vh;
  margin: 20px 0;
  margin-bottom: 80px;
}

/* .navbar {
  float: left;
  border-right: 3px solid #e52e2e;
} */

.content {
  /* border: 1px solid orange; */
  width: 1720px;
  margin: 0 60px;
  padding-left: 40px;
}
.main {
  width: 1600px;
  height: 90%;
  align-items: center;
  justify-content: center;
  /* border: 1px solid pink; */
  
  /* margin-top: 10px; */
}
